.body {
    font-family: sans-serif;
    background-color: floralwhite
}






.p {
    color: black;
    padding-left: 0;
}


.button_setting {
    background: red
}

h1 {
    color: dodgerblue;
    font-weight: bold;
}

#head {
    text-align: center;
    font-size: 500%;
    font-weight: bold;
}

.btn {
    font-size: 200%;
}
